<%- include('./partials/header') %>
 
<div class="container" >

  <div class="row d-flex justify-content-center align-items-center h-100">
    <img height="658"src="https://fitsmallbusiness.com/wp-content/uploads/2020/10/FeatureImage_customer_database_software.jpg"/>
     
    <div class="col-12 col-md-8 col-lg-8 col-xl-5 ">
   
</div>
<%- include('./partials/footer') %>