
a{
    text-decoration: none;
}
.text-gradient{
    background:linear-gradient(to right,#2d90e2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table  .thead-dark th{
    color:black;
    background-color: darkgray;
    border-color: #32383e;}

    input, label {
        margin: 5px 5px;
      }
      
      .form-group {
        margin: 30px auto;
        width: 450px;
      }
      
      .form-control {
        float: left;
      }
      
      #inputStreet {
        width: 100%;
      }
      
      #inputCity {
        width: 50%;
      }
      
      #inputState {
        width: 15%;
      }
      
      #inputZip {
        width: 28%;
      }
      
      #inputCountry {
        width: 50%;
      }
      
.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--dark);
}


.gradient-custom {
/* fallback for old browsers */


/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(118, 168, 134),rgb(145, 224, 152))
;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(118, 168, 134),rgb(145, 224, 152))
}
