a{
    text-decoration: none;
}
.text-gradient{
    background:linear-gradient(to right,#8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table  .thead-dark th{
    color:black;
    background-color: darkgray;
    border-color: #32383e;}
