<%- include('../partials/header') %>

<div  class="vh-100 gradient-custom">
    <div class="box-nav d-flex-justify-between"><br>
      
    </div>
    <div class="form-title text-center">
        <h2 class="text-dark">New Customer</h2>
        <span class="text-dark">Use the below form to create a new account</span>
    </div>
    <!--form handling-->
    <form action="/customers" method="POST">
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="form-label text-light">Name</label>
                <input type="text" name="name" value="" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4 text-light">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="name" class="form-label text-light">Address</label>
            <input type="street" 
                   class="form-control text-light" 
                   id="autocomplete" 
                   placeholder="Street" name="street">
            
            <input type="city" 
                   class="form-control text-light" 
                   id="inputCity" 
                   placeholder="City"
                   name="city">
            
            <input type="state" 
                   class="form-control text-light" 
                   id="inputState" 
                   placeholder="State"
                   name="state">
            
            <input type="zip" 
                   class="form-control text-light" 
                   id="inputZip" 
                   placeholder="Zip" 
                   name="zip">
            
          </div>

          <div class="form-group">
                <label for="contact" class="form-label  text-light">Contact</label>
                <input type="tel" name="contact" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-457-6789" >
               
            </div>
            <div class="form-group">
                <label for="role" class="form-label mt-2 text-light">Role</label>
                <select class="form-select" id="role" name="role">
                  <% roles.forEach(r => { %>
                  <option value="<%= r._id %>"><%= r.role %></option>
                  <% }) %>
                </select>
              </div>
            <div class="form-group">
                <label for="status" class="form-label text-light">Status</label>
                <div class="radio inline">
                    <input type="radio" name="status" value="Active"  >
                    <label for="status" class="form-label text-light">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="status" value="Inactive"  >
                        <label for="status" class="form-label text-light">Inactive</label>
                        </div>
               
            </div>
            <div class="form-group">
                <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="submit">SAVE</button>
                  </div>
            
            </div>
       
    </form>
</div>

<%- include('../partials/footer') %>